.titolo{
    font-family: "Arial";
    text-align: center;
    padding: 5px;
    color: #c0f8f5;
    text-shadow: 2px 2px 4px #01666b;
}
#home{
font-family: "Arial";
text-decoration: none;
color: #fff;
}
#book{
    font-family: "Arial";
    margin-left: 5%;
    text-decoration: none;
    color: #fff;
    }
#comunication{
    font-family: "Arial";
    margin-left: 5%;
    text-decoration: none;
    color: #fff;
    }
#test{
    font-family: "Arial";
    margin-left: 5%;
    text-decoration: none;
    color: #fff;
    }
#pronote{
    border-radius: 5%;
}
#navbar{
    text-align: center;
}
#pronote{
margin: 5%;

}

#calendar{
    width: 90%;
    height: 80%;
    border-color: #000;
    border-style: none;
    margin-left: 5%;
    display: flex;
}

#lun{
    text-decoration: none;
    color: #000;
    font-family: "Arial";
    margin: 2%;
    margin-left: 30%;
    height: 14%;
    margin: -5px;

}
table {
    border-collapse:collapse;
    width: 100%;
    }
    td, th {
    border: none #000;
    width: 14%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.452);
    border-radius: 10px;
}
#sub{
    font-family: "Arial";
    text-decoration: none;
    color: #000000;
}

body{
    width: 100%;
    height: 100%;
    color: #fff;
    background: linear-gradient(#393e46,#222831) ;
    
}

.frame{
    width: 50px;
    height: 50px;
}
.bar{
    color: #00adb5;
    width: 50px;
    height: 5px;
    background: linear-gradient(#00fff5,#00adb5);
    margin-bottom: 7px;
    border-radius: 5px;
    padding-right: 0px;
    margin-right: 0px;
}
.menu{
    display: flex;
}

#tex{
    color: #fff;
    text-decoration: none;
    padding-top: 5px;
}
#img{
    padding-left: 20px;
    padding-right: 3px;
    padding-bottom: 5px;
}
#home{
    padding-bottom: 5px;
    display: flex;
}
.event{
display: none;
}
#pi{
    display: flex;
}
#verifiche{
    width: 400px;
    height: 400px;
    background: linear-gradient(#00adb5,#01666b);
    box-shadow: 4px 8px 16px 0 rgba(255, 255, 255, 0.1);

    border-radius: 10px;
    color: #000;
    border-style: solid;
}
#block{
    display: flex;
    width: 100%;
    height: 450px;
    margin-left: 24%;
  text-align: center;
}
#compiti{
    width: 400px;
    height: 400px;
    background: linear-gradient(#00adb5,#01666b);
    box-shadow: 4px 8px 16px 0 rgba(255, 255, 255, 0.1);
    margin-left: 20%;
    border-radius: 10px;
    color: #000;
    border-style: solid;
}
#comunicazioni{
    width: 950px;
    height: 400px;
    background: linear-gradient(#00adb5,#01666b);
    box-shadow: 4px 8px 16px 0 rgba(255, 255, 255, 0.1);
    margin-left: 30%;
    border-radius: 10px;
    color: #000;
    border-style: solid;
    display: block;
}
#testi{
    color: #000;
    padding-top: 2%;
    font-size: 24px;
    text-align: center;
    font-family: "Arial";
}
#bare{
    width: 99%;
    height: 0%;
    border-color: #000000;
    border-style:solid;
    margin-top: 2.57%;
    margin-bottom: 2.7%;
}
#tag{
    width: 99%;
    height: 0%;
    margin-top: 16px;
    border-color: #000000;
    border-style: solid;
}
#bar{
    width: 99%;
    height: 0%;
    border-color: #000000;
    border-style:solid;
    margin-top: 7%;
}
#test{
    color: #000;
    padding: 0;
    margin: 0;
    padding-bottom: 0px;
    font-size: 24px;
    text-align: center;
padding-top: 3%;
}
#ver{
    color: #000;
    padding: 0;
    margin: 0;
    padding-bottom: 0px;
    font-size: 16px;
    padding-top: 30px;
font-family: "Arial";
    font-size: 24px;
padding-top: 2px;
padding-bottom: 0%;
display: flex;
padding-left: 2px;
}
#more{
    font-size: 15px;
    color: #000;
    padding: 0;
    margin: 0;
    padding-bottom: 0px;
    text-align: center;
    padding-top: 5px;
    text-decoration: none;
    font-style: "Serif";
}
#date{
    font-size: 16px;
    padding-left: 1%;
}
#tipo{
    font-size: 16px;
    padding-left: 15px;
    padding-top: 2px;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

.frame {

  border-radius: 2px;
  overflow: hidden;
  
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.center {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
	cursor: pointer;
}

.bar {
    background: linear-gradient(#00fff5,#00adb5);
	width: 50px;
	height: 7px;
	border-radius: 5px;
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
}

.bar + .bar {
	margin-top: 10px;
}

.active .bar:nth-child(1) {
	animation: active1 1s forwards;
}

.active .bar:nth-child(3) {
	animation: active3 forwards 1s;
}

.active .bar:nth-child(2) {
	animation: active2 forwards 1s;
}

.bar:nth-child(1) {
	animation: active1-reverse 1s forwards;
}
.bar:nth-child(2) {
	animation: active2-reverse 1s forwards;
}
.bar:nth-child(3) {
	animation: active3-reverse 1s forwards;
}

@keyframes active1 {
	from {
		transform: translateY(0)
	}
	50% {
		transform: translateY(17px)
	}
	to {
		transform: translateY(17px) rotate(45deg)
	}
}
@keyframes active3 {
	from {
		transform: translateY(0)
	}
	50% {
		transform: translateY(-17px)
	}
	to {
		transform: translateY(-17px) rotate(-45deg)
	}
}
@keyframes active2 {
	from {
		opacity: 1;
	}
	
	to {
		opacity: 0;
	}
}
@keyframes active1-reverse {
	from {
		transform: translateY(17px) rotate(45deg)
		
	}
	50% {
		transform: translateY(17px) rotate(0deg)
	}
	to {
		transform: translateY(0) rotate(0deg)
	}
}
@keyframes active3-reverse {
	from {
		transform: translateY(-17px) rotate(-45deg)
		
	}
	50% {
		transform: translateY(-17px) rotate(0deg)
	}
	to {
		transform: translateY(0) rotate(0deg)
	}
}
@keyframes active2-reverse {
	from {
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
